*.vshost.exe*

### Local Directories and Subdirectories ###
[Oo]bj/

# Visual Studio 2015 cache/options directory
.vs/

### Global File Patterns ###
*.exe
*.exe.config
*.dll
*.pdf
*.7z
*.zip

### Visual Studio specific files ###
*.VC.opendb
*.VC.db
*.csproj.user
*.sdf
*.suo
*.pdb
*.pro.user
*.log
*.deps
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

